.wrapper {
  width: 100vw;
  min-width: 800px;
  min-height: 800px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 40px auto;
}

.svg {
  width: 800px;
  height: 800px;
  display: block;
  margin: 0 auto;
}
