.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
  background: #f4f4f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #999;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-right: 1px solid #aaa;
  background: #fff;
}

.right {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  overflow-y: auto;
}
